[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate --schema=./prisma/schema.prisma"]

[start]
cmd = "sh -c 'npx prisma migrate deploy --schema=./prisma/schema.prisma && node src/campaignSender.js'"
